   <div class="row g-0">
      <div class="col-md-4">
         <%= image_tag 'user.jpg', class: 'profile_img' %>
      </div>
      <div class="col-md-8">
         <div class="card-body">
            <h5 class="card-title">Erick Jaime</h5>
            <p class="card-text">Full Stack developer con solidos conocimientos en desarrollo de aplicaciones usando tecnologias como ReactJS, Javascript. Base de datos relacionales MySQL, Microsof SQL Server y PostgreSQL.
            </p>
            <p class="card-text">
               <small class="text-muted">Mail: erick.jaime.jara@hotmail.com</small>
            </p>
            <p class="card-text">
               <small class="text-muted">Phone: +56 9 3676 8952</small>
            </p>
         </div>
      </div>
   </div>
</div>

