<h1>These are some of my Projects</h1>

<div class="card mb-3">
  <%= image_tag 'GAESYS.png', class: 'card-img-top' %> 
  <div class="card-body">
    <h5 class="card-title">GAE System</h5>
    <p class="card-text">This is a system which helps us with the management of leased equipment. It has a login, use of JWT for greater security, identification and validation of user accounts.</p>
    <p class="card-text d-flex flex-row-reverse">
      <button type="button" class="btn btn-primary">See More</button>
   </p>
  </div>
</div>
<div class="card mb-3">
  <%= image_tag 'TRANSPORT.png', class: 'card-img-top' %> 
  <div class="card-body">
   <h5 class="card-title">Reception and Shipping of assets</h5>
   <p class="card-text">Web application that helps us with the reception of documents, thus avoiding the overuse of paper. It has its registration and user assignment system as required, in addition to having a JWT and attaching images.</p>
   <p class="card-text d-flex flex-row-reverse">
      <button type="button" class="btn btn-primary">See More</button>
   </p>
    
  </div>
</div>
<div class="card mb-3">
  <%= image_tag 'CAFE.png', class: 'card-img-top' %> 
  <div class="card-body">
    <h5 class="card-title">Blog Coffee</h5>
    <p class="card-text">Standard page related to courses and publications on coffee. This project was one of my certifications in Web Development.</p>
    <p class="card-text d-flex flex-row-reverse">
      <button type="button" class="btn btn-primary">See More</button>
   </p>
  </div>
</div>
